.App {
  text-align: center;
  margin: 2vw;
}

html{
background-image: url('/src/Components/images/paw-paw-woods.jpeg');
/* background-color: rgba(71, 71, 6, 0.568); */
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}

nav{
  display: flex;
  justify-content: space-around;
  /* position: sticky; */
  top: 2vw;
  background-color: rgba(207, 190, 190, 0.363);
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 2vw;
  border-radius: 1vw;
  margin: 1vw;
}

a{
  text-decoration: none;
}

nav a{
  color: inherit;
  text-decoration: none;
  font-size: 3vw;
  font-weight: 700;
}

a:hover{
  color: azure;
  cursor: pointer;
}

footer{
  text-align: center;
  position:fixed;
  bottom: 2vw;
  overflow-y: scroll;
  border: 1px solid black;
  background-color: rgba(150, 150, 150, 0.774);
  width: 90%;
  max-height: 8vw;
}

footer a{
  padding: 2vw;
}

ul{
  padding: unset;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Tile{
  list-style: none;
  border: 1px solid black;
  background-color: rgba(150, 150, 150, 0.774);
  margin: 3vw 0 ;
  border-radius: 11px;
  font-size: 2vw;
  font-weight: 700;
  color: white;
  transition: .5s ease;
}

.Tile p{
  background-color: black;
  border-radius: 10px;
}

.holder{
  display: flex;
}

.infoBtn {
  transition: .5s ease;
  position: absolute;
  /* top: 50%; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.FavBtn{
  margin: 1vw;
}

.title{
  font-size: 3vw;
  margin-top: 20vw;
  text-shadow: 5px 5px 5px olive;
}

nav img{
  padding: 1.5vw;
  border-radius: 2vw;
  height: 8vw;
  width: 8vw;
}

.about{
  background-color: rgba(150, 150, 150, 0.774);
  border-radius: 10px;
  color: rgb(2, 2, 2);
  font-size: 3vw;
  font-weight: 550;
  /* text-shadow: 5px 5px 5px olive; */
}

body{
  background-color: rgba(255, 0, 0, 0);
}

#favoritesBtn{
  position: fixed;
  left: 0px;
  top: 30%;
}

#favItem{
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#favItem a:hover, #favItem Button:hover{
  color: grey;
  font-weight: 400;
  font-size: larger;
}

.search_box_wrap{
  position: relative;
  width: 350px;
  height: 38px;
}
.search_box_wrap .search_box{
  width: 100%;
  height:60px;
}
.search_box_wrap .search_box .input_search{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  border: 0;
  padding: 7px 25px;
  padding-right: 50px;
  font-size: large;
  border-radius: 35px;
}

.search_box_wrap .icon{
  display: flex;
}

.search_box_wrap .search_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8.5px;
  right: 14px;
  cursor: pointer;
}
.search_box_wrap .search_btn button {
  border-radius: 35px;
  height: 37px;
}